@font-face {
  font-family: ArialEmbedded;
  fontWeight: normal;
  src: url("../../assets/fonts/arial.ttf");
  unicodeRange: "Chinese (All)";
}

@font-face {
  font-family: ArialEmbeddedBold;
  fontWeight: bold;
  src: url("../../assets/fonts/arialbd.ttf");
  unicodeRange: "Chinese (All)";
}
