@font-face {
	src: url("../fonts/arial.ttf");
	fontWeight: "normal";
	fontFamily: "ArialEmbedded";
}

@font-face {
	src: url("../fonts/arialbd.ttf");
	fontWeight: bold;
	fontFamily: "ArialEmbeddedBold";
}


.heading {
	fontFamily: ArialEmbedded;
	fontWeight: normal;
	advancedAntiAliasing: true;
	fontSize: 24;
	color: #efefef;
}
