.title {
	fontFamily: ArialEmbed;
	fontWeight: normal;
	antiAliasType: advanced;
	embedFonts: true;
	fontSize: 12;
	color: #666666;
	autoSize: left;
	upSkin: InputFieldUpSkin;
	overSkin: InputFieldOverSkin;
	downSkin: InputFieldDownSkin;
	selectedSkin: InputFieldSelectedSkin;
}


.box
{	
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 10;	
}

.button
{
	upSkin: ButtonUp;	
	overSkin: ButtonOver;	
	downSkin: ButtonDown;
}

.buttonLabel {
	font: ArialEmbed;
	antiAliasType: advanced;
	fontSize: 18;
	textColor: #333;
	textColorOver: #ff0000;
	align: center;
	autoSize: left;
}

.inputField
{
	upSkin: InputFieldUpSkin;
	fontFamily: ArialEmbed;
	fontWeight: normal;
	antiAliasType: advanced;
	embedFonts: true;
	fontSize: 18;
	color: #EFEFEF;
	autoSize: left;
	wordWrap: true;	

}