.title {
	fontFamily: ArialEmbed;
	fontWeight: normal;
	antiAliasType: advanced;
	embedFonts: true;
	fontSize: 12;
	color: #666666;
	autoSize: left;
	upSkin: InputFieldUpSkin;
	overSkin: InputFieldOverSkin;
	downSkin: InputFieldDownSkin;
	selectedSkin: InputFieldSelectedSkin;
}

MockUIElement {
	size: 36;
	antiAliasType: normal;
}

.box
{	
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 10;	
}

.button
{
	upSkin: ButtonUp;	
	overSkin: ButtonOver;	
	downSkin: ButtonDown;
	selectedSkin: ButtonSelected;
	paddingLeft: 10;
	paddingRight: 10;
}

.buttonLabel {
	font: ArialEmbed;
	antiAliasType: advanced;
	size: 12;
	textColourUp: #666666;
	textColourOver: #333333;
	textColourDown: #111111;
	textColourSelected: #ff0000;
	align: left;
	multiline: true;
	wordWrap: true;	
}

.inputField
{
	upSkin: InputFieldUpSkin;
	fontFamily: ArialEmbed;
	fontWeight: normal;
	antiAliasType: advanced;
	embedFonts: true;
	fontSize: 18;
	color: #EFEFEF;
	autoSize: left;
	wordWrap: true;	

}