/* Class level styles */

CustomInputField 
{
	selectable:false;
	autoSize: left;
	multiline: true;
	wordWrap: true;
	font: Arial;
	embedFonts: true;
	size: 14;
	textColor: #FFFFFF;
	border: false;
	borderColor: #000000;
	antiAliasType: advanced;
	border: true;
	borderColor: #000000;	
	width: 50;
}

Label 
{
	selectable: false;
	autoSize: left;
	multiline: true;
	wordWrap: true;
	font: Arial;
	embedFonts: true;
	size: 14;
	textColor: #FFFFFF;
	border: false;
	borderColor: #000000;
	antiAliasType: advanced;
	border: true;
	borderColor: #000000;		
}

FormLabel 
{
	selectable:false;
	autoSize: left;
	multiline: true;
	wordWrap: true;
	font: Arial;
	embedFonts: true;
	size: 14;
	textColor: #FFFFFF;
	border: false;
	borderColor: #000000;
	antiAliasType: advanced;
}

RadioButton
{
	upSkin: RadioButtonUp;	
	overSkin: RadioButtonOver;	
	downSkin: RadioButtonDown;
	selectedSkin: RadioButtonDown;
	invalidSkin: RadioButtonInvalid;	
	disabledSkin: RadioButtonDisabled;
	glowSelectedColor: #364569;
	glowUnselectedColor: #c17f17;
	buttonWidthPadding: 0;
	buttonHeightPadding: 0;
	align: center;
	autoSize: left;
	multiline: false;
	wordWrap: false;
	paddingLeft: 10;
	paddingRight: 8;
	paddingTop: 4;
	paddingBottom: 0;
	font: Arial;
	selectable: false;
	textColor: #FFFFFF;
	textColourOver: #B17C01;
	textColourDown: #B17C01;
	textColourDisabled: #666666;
	size: 23;
	embedFonts: true;
	antiAliasType: advanced;
	/*border: true;*/
	/*borderColor: #000000;*/
}



.formHeader
{
	selectable:false;
	autoSize: left;
	multiline: false;
	wordWrap: false;
	font: Arial;
	embedFonts: true;
	size: 30;
	textColor: #FFFFFF;
	border: false;
	borderColor: #000000;
}

